<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="AuthenticomKey" value="AQ_DRIDOM_DYNAMICS_TEST" />
    <add key="CrmWriteServiceAccountName" value="CMXQA\CMXIntegrations" />
    <add key="CrmWriteServiceAccountPassword" value="12345678" />
    <add key="CrmWriteServiceAccountHomeRealmUri" value="" />
    <add key="CrmReadServiceAccount" value="" />
    <add key="DealerSpecialtiesUri" value="https://api.vehicledata.com/4.3/api/vehicles" />
    <add key="DealerSpecialtiesToken" value="Token 5142b81d-93b0-4741-b912-7b13a1c5faf5" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!--<source name="System.ServiceModel"
			  switchValue="Off"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">-->
      <source name="System.ServiceModel" switchValue="Off" propagateActivity="true">			  
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Temp\Traces3.xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>  
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <system.serviceModel> 
    <client>
      <endpoint address="http://api.vehicledata.com/cvdapi/2.0/cvdapi.asmx" binding="basicHttpBinding" bindingConfiguration="CvdApiWebServiceSoap" contract="DDSInventory.CvdApiWebServiceSoap" name="CvdApiWebServiceSoap" />
      <endpoint address="http://api.vehicledata.com/cvdapi/2.0/cvdapi.asmx" binding="customBinding" bindingConfiguration="CvdApiWebServiceSoap12" contract="DDSInventory.CvdApiWebServiceSoap" name="CvdApiWebServiceSoap12" />	
      <endpoint address="http://www.authenticom.net/webservices/donotcall/default.asmx" binding="basicHttpBinding" bindingConfiguration="_defaultSoap" contract="DoNotCallLookupService._defaultSoap" name="DoNotCallLookupService" />
      <endpoint address="http://www.authenticom.net/webservices/rpaws/rpaLookup.asmx" binding="basicHttpBinding" bindingConfiguration="rpaLookupSoap1" contract="ReversePhoneLookupService.rpaLookupSoap" name="ReversePhoneLookupService" />
      <endpoint address="https://qaleads2.autobase.net/DMXIntegrations/DMXIntegrations.asmx" binding="basicHttpBinding" bindingConfiguration="DMXIntegrationsSoap" contract="CentralServerServices.DMXIntegrationsSoap" name="DMXIntegrationsSoap" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavoir">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="HttpServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="HttpsServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.DataHygiene">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpSecureServiceBinding" behaviorConfiguration="jsonBehavoir" contract="DMx.Xrm.Services.IDataHygiene" />
        <!--
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpServiceBinding"
                  behaviorConfiguration="jsonBehavoir" contract="DMx.Xrm.Services.IDataHygiene"/>
        -->
      </service>
      
      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.ILM">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicSecureServiceBinding" contract="DMx.Xrm.Services.IILM" />
      </service>
       
      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.Events">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicSecureServiceBinding" contract="DMx.Xrm.Services.IEvents" />
      </service>

      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.TradeIn">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicSecureServiceBinding" contract="DMx.Xrm.Services.ITradeIn" />
      </service>

      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.FI">
        <!--
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpSecureServiceBinding"
                  behaviorConfiguration="jsonBehavoir" contract="DMx.Xrm.Services.IFI"/>
       -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicSecureServiceBinding" contract="DMx.Xrm.Services.IFI" />
      </service>	  
      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.GuestConcepts">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpSecureServiceBinding" behaviorConfiguration="jsonBehavoir" contract="DMx.Xrm.Services.IGuestConcepts" />
        <!--<endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpServiceBinding"
                  behaviorConfiguration="jsonBehavoir" contract="DMx.Xrm.Services.IGuestConcepts" />-->      
      </service>      	        
      <service behaviorConfiguration="HttpsServiceBehavior" name="DMx.Xrm.Services.Inventory">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="JsonAlwaysHttpSecureServiceBinding" behaviorConfiguration="jsonBehavoir" contract="DMx.Xrm.Services.IInventory" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicServiceBinding" receiveTimeout="01:00:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
        <binding name="BasicSecureServiceBinding" receiveTimeout="01:00:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="_defaultSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="rpaLookupSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
		<binding name="CvdApiWebServiceSoap" />
        <binding name="DMXIntegrationsSoap">
          <security mode="Transport" />
        </binding>
        <binding name="DMXIntegrationsSoap1" />		
      </basicHttpBinding>
      <customBinding>
        <binding name="CvdApiWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="HttpServiceBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="HttpSecureServiceBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="JsonAlwaysHttpSecureServiceBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true" contentTypeMapper="DMx.Xrm.Services.XDomainRequest.JsonContentTypeMapper, DMx.Xrm.Services">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="Crm" connectionString="$(ReplacableToken_Crm-Web.config Connection String_0)" />
    <add name="CmxManagement" connectionString="$(ReplacableToken_CmxManagement-Web.config Connection String_0)" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}:444/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>	
  </system.webServer>
</configuration>